<h3>Form Validation</h3><br>
<form #form="ngForm">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" [(ngModel)]="name" #nameVerify="ngModel" required>
    <span *ngIf="nameVerify.invalid">Name is required</span>
  </div>
  <br>
  <div>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" [(ngModel)]="email" #emailVerify="ngModel" email>
    <span *ngIf="emailVerify.invalid">Email invalid!</span>
  </div>
  <br>
  <button type="submit" [disabled]="!form.valid">Send</button>
</form>
